            <div class="row">
		        <div class="col-sm">
		          <div class="form-group">
		            <label for="tele0">備案編號</label>
		            <input class="form-control" type="text" id="tele_power0" value="{{tel_detail[0]}}" disabled>
		          </div>
		          <div class="form-group">
		            <label for="tele_power1">電訪日期(台電)</label>
		            <input class="form-control" type="text" id="tele_power1" value="{{tel_detail[1]}}" >
		          </div>
                    
		          <div class="form-group">
		            <label for="tele_power2">外線完工實際日期(台電)</label>
		            <input class="form-control" type="text" id="tele_power2" value="{{tel_detail[2]}}" >
		          </div>                    
    		          <div class="form-group">
		            <label for="tele_power3">業者報竣實際日期(台電)</label>
		            <input class="form-control" type="text" id="tele_power3" value="{{tel_detail[3]}}" >
		          </div>       
                    		          <div class="form-group">
		            <label for="tele_power4">完工掛表併聯實際日期(台電)</label>
		            <input class="form-control" type="text" id="tele_power4" value="{{tel_detail[4]}}" >
		          </div>       
               
     </div>               
                    
      
		        
		        <div class="col-sm">
                    
                    
		          <div class="form-group">
		            <label for="tele_power5">實際併網容量(kW)(台電)</label>
                      <input class="form-control" type="text" id="tele_power5" value="{{tel_detail[5]}}" >
                   </div>
  
                    
		          <div class="form-group">
		            <label for="tele_power6">案件進度(台電)</label>
		            <input class="form-control" type="text" id="tele_power6" value="{{tel_detail[6]}}" >
		          </div>
                        
		          <div class="form-group">
		            <label for="tele_power7">備註(台電)</label>
		            <input class="form-control" type="text" id="tele_power7" value="{{tel_detail[7]}}" >
		          </div>   
                    <div class="form-group">
		            <label for="tele_power8">電訪人員(台電)</label>
		            <input class="form-control" type="text" id="tele_power8" value="{{tel_detail[8]}}" >
		          </div>  
          <div class="form-group">
		            <label for="tele_power9">此紀錄上傳時間</label>
		            <input class="form-control" type="text" id="tele_power9" value="{{tel_detail[9]}}" disabled>
		          </div>
                  
                    
                    
		        </div>
                  

                  
                  
		      </div>



      <script type="text/javascript">
        date_init('#tele_power1');   
        date_init('#tele_power2');   
        date_init('#tele_power3');   
        date_init('#tele_power4');          //date_init('#tele3');
        //date_init('#tele6');
      </script>