{% set color = ['primary','success','danger','warning','info'] %}
{% for t in tag %}
	{% if t != '' %}
	  <div class="alert alert-{{color[range(0, 5) | random]}}" role="alert">
	    此案件被標記為<b>{{t}}</b>的案子
	  </div>
	{% endif %}
{% endfor %}

<div class="card-header" id="headingOne">
	<h2 style="font-family: 'Microsoft JhengHei'; ">案件基本資料</h2>
	<h2 class="mb-0"> 
		<button class="btn btn-info" type="button" data-toggle="modal" data-target="#Modal1">點擊顯示內容</button>
	</h2>
</div>
<br>
<div class="card-header" id="headingtwo">
	{% if new_tel|length < 1 %}
    <h2 style="font-family: 'Microsoft JhengHei'; ">此備案無有效的電訪紀錄</h2> 
	{% else %}
	    <h2 style="font-family: 'Microsoft JhengHei'; ">此備案變動之電訪記錄</h2> 
      	<div class="row">
			<div class="col-sm">
				<button class="btn btn-info" type="button" data-toggle="modal" data-target="#Modal2"> 點擊顯示內容</button>
			</div>
	</div>
	{% endif %}
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">備案基本資料</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        
        
        
      <div class="modal-body">
      	<div class="row">
	<div class="col-sm">
		<div>
			<label class="font-weight-bold" for="ele14">籌設許可名稱: <span class="badge badge-danger">新籌設許可名稱</span></label>
			<p class="text-success" id="ele14">{{new[1]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele0">發文日期: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele0">{{new[0]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele2">發電廠部分廠址: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele2">{{new[2]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele3">申請籌設容量(kW): <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele3">{{new[3]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele4">籌備處: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele4">{{new[4]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele5">取得電業籌設容量(kW): <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele5">{{new[5]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele6">縣市: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele6">{{new[6]}}</p>
		</div>	
	</div>
	<div class="col-sm">
		<div>
			<label class="font-weight-bold" for="ele7">土地狀態: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele7">{{new[7]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele8">用地變更分類: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele8">{{new[8]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele9">升壓站容許或變更: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele9">{{new[9]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele10">併聯點: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele10">{{new[10]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele11">備註: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele11">{{new[11]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele12">聯絡人姓名: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele12">{{new[12]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele13">聯絡人電話: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele13">{{new[13]}}</p>
		</div>
        		<div>
			<label class="font-weight-bold" for="ele14">完成併聯審查日期: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele14">{{new[14]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele15">申請籌備創設日期: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele15">{{new[15]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele16">取得籌備創設日期: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele16">{{new[16]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele17">取得土地容許或完成用地變更日期: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele17">{{new[17]}}</p>
		</div>
        
		<div>
			<label class="font-weight-bold" for="ele18">申請施工許可日期: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele18">{{new[18]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele19">取得施工許可日期: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele19">{{new[19]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele20">申請人或機構: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele20">{{new[20]}}</p>
		</div>
        		<div>
			<label class="font-weight-bold" for="ele21">設置位置: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele21">{{new[21]}}</p>
		</div>
        		<div>
			<label class="font-weight-bold" for="ele21">施工許可取得容量: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele21">{{new[21]}}</p>
		</div>
        		<div>
			<label class="font-weight-bold" for="ele21">案件現況: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele21">{{new[21]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="ele22">階段: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="ele22">{{new[22]}}</p>
		</div>


	</div>
</div>
      </div>
     </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">電訪記錄</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	

<div class="alert alert-success" role="alert">
  此電訪記錄有欄位更動
</div>
<div class="row">
	<div class="col-sm">
		<div>
			<label class="font-weight-bold" for="tele0">籌設許可名稱: <span class="badge badge-danger">新備案</span></label>
			<p class="text-success" id="tele0">{{new_tel[0]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="tele1">電訪時間: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="tele1">{{new_tel[1]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="tele2">施工狀況: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="tele2">{{new_tel[2]}}</p>
		</div>
	</div>
	<div class="col-sm">
		<div>
			<label class="font-weight-bold" for="tele3">預計完工日: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="tele3">{{new_tel[3]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="tele4">問題分類: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="tele4">{{new_tel[4]}}</p>
		</div>
		<div>
			<label class="font-weight-bold" for="tele5">問題描述: <span class="badge badge-danger">新欄位</span></label>
			<p class="text-success" id="tele5">{{new_tel[5]}}</p>
		</div>
	</div>
</div>


      </div>
    </div>
  </div>
</div>
