<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/firebase@6.1.0/firebase.js"></script>
  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-firestore.js"></script>


<script>
var firebaseConfig = {
    apiKey: "AIzaSyAYm3PUeQpMR62EQzBCNoX4SJsl6jPRZcM",
    authDomain: "itriwebsystem.firebaseapp.com",
    databaseURL: "https://itriwebsystem.firebaseio.com",
    projectId: "itriwebsystem",
    storageBucket: "itriwebsystem.appspot.com",
    messagingSenderId: "694056489044",
    appId: "1:694056489044:web:295ae1c91d9603df385dc1",
    measurementId: "G-YMGMG1ENZB"
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/user/checkAuthority.js') }}?ver=1"></script>






<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/all.min.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/datepicker.css') }}">


<div class="wrapper d-flex align-items-stretch">
<nav id="sidebar"style="background-color:#091B2A;">
		<div class="custom-menu">
			<button type="button" id="sidebarCollapse" class="btn btn-dark">
	          <i class="fas fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
		<div class="p-4 pt-5">
		  	<h4><a href="/search" class="logo"><img src="/static/img/logo1.png" width="200" height="100" class="d-inline-block align-top" alt=""></a></h4>
            <h5  style="color:#B3D9D9"class="font-weight-bolder">太陽光電達標管考資訊平台</h5>
		  	<br>
	        <ul class="list-unstyled components mb-5">

                
                
<li>
              <a href="#pageSubmenu_non" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle font-weight-bolder"><img src="/static/img/document.png" width="30" height="30" class="d-inline-block align-top" alt="">開發中案件</a>
              <ul class="collapse list-unstyled" id="pageSubmenu_non">
                <li>
                    <a href="/uploadNon" class="font-weight-bolder">上傳新案件</a>
                </li>

		                <li>
		                	<a href="/editNon" class="font-weight-bolder">上傳編輯檔案</a>
		                </li>

                <li>
                    <a href="/searchNon" class="font-weight-bolder">查詢和編輯案件</a>
                </li>
              </ul>
	          </li> 


                
<li>
              <a href="#pageSubmenu_apply" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle font-weight-bolder"><img src="/static/img/solar-panel-xxl.png" width="30" height="30" class="d-inline-block align-top" alt="">同意備案</a>
              <ul class="collapse list-unstyled" id="pageSubmenu_apply">
                <li>
                    <a href="/upload" class="font-weight-bolder">上傳新案件</a>
                </li>

		                <li>
		                	<a href="/edit" class="font-weight-bolder">上傳編輯檔案</a>
		                </li>

                <li>
                    <a href="/search" class="font-weight-bolder">查詢和編輯案件</a>
                </li>
                <li>
                    <a href="/control" class="font-weight-bolder">管控表編輯</a>
                </li>
                                  <li>
                    <a href="/upload/tel" class="font-weight-bolder">電訪記錄上傳</a>
                </li>
                                  <li>
                    <a href="/upload/tel_power" class="font-weight-bolder">台電電訪記錄上傳</a>
                </li>
                                    <li>
                    <a href="/search_tel" class="font-weight-bolder">電訪記錄搜尋</a>
                </li>
              </ul>
	          </li>                
                
                
                
<li>
              <a href="#pageSubmenu_control" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle font-weight-bolder"><img src="/static/img/globe-xxl.png" width="30" height="30" class="d-inline-block align-top" alt="">其他功能</a>
              <ul class="collapse list-unstyled" id="pageSubmenu_control">
            <li>
                    <a href="/other" class="font-weight-bolder">管控案件上傳</a>
                </li>
		                <li>
		                	<a href="/other/complete" class="font-weight-bolder">備案資料補齊</a>
		                </li> 
		                <li>
		                	<a href="/other/table" class="font-weight-bolder">統計圖表</a>
		                </li>

 
		                <li>
		                	<a href="/other/format" class="font-weight-bolder">檔案格式修正</a>
		                </li>
		                <li>
		                	<a href="/other/assign" class="font-weight-bolder">同意備案分案</a>
		                </li>
                 		  <li>
		                	<a href="/other/delete" class="font-weight-bolder">刪除同意備案編號</a>
		                </li>
              </ul>
	          </li> 


                
<li>                
                
                
                
            
            <li>
              <a href="#pageSubmenu_user" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle font-weight-bolder"><img src="/static/img/user.png" width="30" height="30" class="d-inline-block align-top" alt="">使用者</a>
              <ul class="collapse list-unstyled" id="pageSubmenu_user">
                <li>
                    <a href="/reset" class="font-weight-bolder">更改密碼</a>
                </li>
 

              </ul>
                <a id="signout_btn" href="/search" class="logout"><img src="/static/img/logout.png" width="30" height="30" class="d-inline-block align-top" alt="">登出</a>
	         </li>
            
            </ul>
            
	      </div>
    	</nav>


<div class="container">

	<br><br>
	<div class="form-group">
		<div class="alert alert-success" role="alert">
		  <h4 class="alert-heading font-weight-bold">單筆備案編輯</h4>
		  <p>這個頁面可以讓你針對單筆備案的最新資料，以及其最新的電訪記錄進行編輯</p>
		</div>
	    <label for="select_case">請選擇編輯的備案編號</label>
	        <select class="form-control" id="select_case" style="width :50%">
	          <option selected="true" disabled="true" >選擇案件</option>
	          {% for rec in rec_num %}
	          <option mytag="{{rec[1]}}">{{rec[0]}}</option>
	          {% endfor %}
	        </select>
	  </div>

	 <div id="host_content"></div>
</div>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datepicker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datepicker_zhtw.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/edit/popper.js') }}?ver=1"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/edit/singhome.js') }}?ver=1"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/ajaxSend.js') }}?ver=1"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/user/logout.js') }}?ver=1"></script>
