
    
<br>
<div class="card-header" id="headingtwo">
    <h2 style="font-family: 'Microsoft JhengHei'; ">此備案欲儲存電訪資料</h2> 
      <h2 class="mb-0">
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
      點擊延展內容
    </button>
      </h2>
    </div>
  <div class="collapse" id="collapseExample2">
    <div class="card card-body">
      <div class="row">

        <div class="col-sm">
          <div class="form-group">
            <label for="tele0">備案編號</label>
            <input class="form-control" type="text" id="tele0" value="{{data_list2[0]}}" disabled>
          </div>
          <div class="form-group">
            <label for="tele1">電訪日期</label>
            <input class="form-control" type="text" id="tele1" value="{{data_list2[1]}}" disabled>
          </div>
          <div class="form-group">
            <label for="tele2">案場施工狀況</label>
            <input class="form-control" type="text" id="tele2" value="{{data_list2[2]}}" disabled>
          </div>
            
          <div class="form-group">
            <label for="tele2">案場問題分類</label>
            <input class="form-control" type="text" id="tele4" value="{{data_list2[4]}}" disabled>
          </div>            

          <div class="form-group">
            <label for="tele2">案場問題描述</label>
            <input class="form-control" type="text" id="tele5" value="{{data_list2[5]}}" disabled>
          </div>  
            
                      <div class="form-group">
            <label for="tele2">案場預計完工日</label>
            <input class="form-control" type="text" id="tele3" value="{{data_list2[3]}}" disabled>
          </div>   
        </div>
          
        <div class="col-sm">
          <div class="form-group">
            <label for="tele4">台電問題分類</label>
            <input class="form-control" type="text" id="tele7" value="{{data_list2[7]}}" disabled>
          </div>
            
          <div class="form-group">
            <label for="tele5">台電問題描述</label>
            <input class="form-control" type="text" id="tele8" value="{{data_list2[8]}}" disabled>
          </div>
            
          <div class="form-group">
            <label for="tele6">預計併聯日期</label>
            <input class="form-control" type="text" id="tele6" value="{{data_list2[6]}}" disabled>
          </div>
           <div class="form-group">
            <label for="tele6">備註</label>
            <input class="form-control" type="text" id="tele9" value="{{data_list2[9]}}" disabled>
          </div>
          <div class="form-group">
            <label for="tele7">電訪人員</label>
            <input class="form-control" type="text" id="tele10" value="{{data_list2[10]}}" disabled>
          </div>   
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript">$('.collapse').collapse('hide')</script>