{% if checknum == 1 %}
<script>
	alert("上傳成功");
	location.reload(true);
</script>
{% endif %}
{% if checknum == 0 %}
<script>
	alert("上傳失敗，請查看伺服器log來了解更多訊息");
	//location.reload(true);
</script>
{{code}}<br>
{{err}}<br>
{{reason}}<br>
{{target}}<br>
<p>或者您可以根據下列錯誤編號來找到錯誤原因</p>

<br>1005:建立表失敗
<br>
<br>1006:建立資料庫失敗
<br>
<br>1007:資料庫已存在,建立資料庫失敗
<br>
<br>1008:資料庫不存在,刪除資料庫失敗
<br>
<br>1009:不能刪除資料庫檔案導致刪除資料庫失敗
<br>
<br>1010:不能刪除資料目錄導致刪除資料庫失敗
<br>
<br>1011:刪除資料庫檔案失敗
<br>
<br>1012:不能讀取系統表中的記錄
<br>
<br>1020:記錄已被其他使用者修改
<br>
<br>1021:硬碟剩餘空間不足,請加大硬碟可用空間
<br>
<br>1022:關鍵字重複,更改記錄失敗
<br>
<br>1023:關閉時發生錯誤
<br>
<br>1024:讀檔案錯誤
<br>
<br>1025:更改名字時發生錯誤
<br>
<br>1026:寫檔案錯誤
<br>
<br>1032:記錄不存在
<br>
<br>1036:資料表是隻讀的,不能對它進行修改
<br>
<br>1037:系統記憶體不足,請重啟資料庫或重啟伺服器
<br>
<br>1038:用於排序的記憶體不足,請增大排序緩衝區
<br>
<br>1040:已到達資料庫的最大連線數,請加大資料庫可用連線數
<br>
<br>1041:系統記憶體不足
<br>
<br>1042:無效的主機名
<br>
<br>1043:無效連線
<br>
<br>1044:當前使用者沒有訪問資料庫的許可權
<br>
<br>1045:不能連線資料庫,使用者名稱或密碼錯誤
<br>
<br>1048:欄位不能為空
<br>
<br>1049:資料庫不存在
<br>
<br>1050:資料表已存在
<br>
<br>1051:資料表不存在
<br>
<br>1054:欄位不存在
<br>
<br>1065:無效的SQL語句,SQL語句為空
<br>
<br>1081:不能建立Socket連線
<br>
<br>1114:資料表已滿,不能容納任何記錄
<br>
<br>1116:開啟的資料表太多
<br>
<br>1129:資料庫出現異常,請重啟資料庫
<br>
<br>1130:連線資料庫失敗,沒有連線資料庫的許可權
<br>
<br>1133:資料庫使用者不存在
<br>
<br>1141:當前使用者無權訪問資料庫
<br>
<br>1142:當前使用者無權訪問資料表
<br>
<br>1143:當前使用者無權訪問資料表中的欄位
<br>
<br>1146:資料表不存在
<br>
<br>1147:未定義使用者對資料表的訪問許可權
<br>
<br>1149:SQL語句語法錯誤
<br>
<br>1158:網路錯誤,出現讀錯誤,請檢查網路連線狀況
<br>
<br>1159:網路錯誤,讀超時,請檢查網路連線狀況
<br>
<br>1160:網路錯誤,出現寫錯誤,請檢查網路連線狀況
<br>
<br>1161:網路錯誤,寫超時,請檢查網路連線狀況
<br>
<br>1062:欄位值重複,入庫失敗
<br>
<br>1169:欄位值重複,更新記錄失敗
<br>
<br>1177:開啟資料表失敗
<br>
<br>1180:提交事務失敗
<br>
<br>1181:回滾事務失敗
<br>
<br>1203:當前使用者和資料庫建立的連線已到達資料庫的最大連線數,請增大可用的資料庫連線數或重啟資料庫
<br>
<br>1205:加鎖超時
<br>
<br>1211:當前使用者沒有建立使用者的許可權
<br>
<br>1216:外來鍵約束檢查失敗,更新子表記錄失敗
<br>
<br>1217:外來鍵約束檢查失敗,刪除或修改主表記錄失敗
<br>
<br>1226:當前使用者使用的資源已超過所允許的資源,請重啟資料庫或重啟伺服器
<br>
<br>1227:許可權不足,您無權進行此操作
<br>
<br>1235:MySQL版本過低,不具有本功能
{% endif %}